---
import { getCollection } from 'astro:content';
import ContactCTA from '../ContactCTA.astro';
import Grid from '../Grid.astro';
import Hero from '../Hero.astro';
import PortfolioPreview from '../PortfolioPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { useTranslations, type Locale } from '../../i18n';

interface Props {
	locale: Locale;
}
const { locale } = Astro.props;
const t = useTranslations(locale);

const projects = (await getCollection('work'))
	.filter((entry) => entry.data.locale === locale)
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout locale={locale} title={t('work.metaTitle')} description={t('work.metaDesc')}>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title={t('work.heroTitle')}
				tagline={t('work.heroTagline')}
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} locale={locale} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA locale={locale} />
	</div>
</BaseLayout>
